/*Custom CSS*/
body {
    height: auto;
}

p {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif, serif;
}

.footer {
    height: auto;
    background-color: black;
}

#titleSection {
  background-color: #fff;
  text-align: center;
}

#title {
  color: orange;
  font-weight: 300;
  margin-top: 50px;
}

#quickInfo {
  height: auto;
  background-color: #eee;
  text-align: right;
  font-family: 'Helvetica', sans-serif, serif;
}

#basicsSection {
    height: auto;
    background-color: #fff;
    text-align: left;
    font-family: 'Helvetica', sans-serif, serif;
}

#lastSection {
    height: auto;
    background-color: #eee;
    text-align: right;
    font-family: 'Helvetica', sans-serif, serif;
}

#web-design-image {
    height: 350px;
    width: 400px;
}

.line {
    color: black;
}
