/*Custom CSS*/
p {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif, serif;
}

#titleSection {
  background-color: #fff;
  text-align: center;
}

#title {
  color: orange;
  font-weight: 300;
  margin-top: 50px;
}

#quickInfo {
  background-color: #eee;
  text-align: right;
  font-family: 'Helvetica', sans-serif, serif;
}
